/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

h3, h4 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox {
  margin-top: 4px;
  margin-bottom: 8px;
}

.left {
  float: left;  
}

.right {
  float: right;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.color-check {
  text-align: center;
}

.color-check.report {
  cursor: pointer;
}

.color-check .glyphicon {
  font-size: 2em;
}

.color-check .valid {
  color: #5cb85c;
}

.color-check .warning {
  color: #f0ad4e;
}

.navbar-header .navbar-brand {
  color: #fff;
}

.row.content {
  margin-top: 10px;
  padding: 0 15px;
}

.table-responsive {
  border: none !important;
}

.search-input {
  width: 33%;
}

.search-input input {
    border-radius: 0 6px 6px 0 !important;
    border-left: none !important;
}

.form-group {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; 
    height: 140px;
}

.form-group::-webkit-scrollbar {
    -webkit-appearance: none;
}

.form-group::-webkit-scrollbar:vertical {
    width: 11px;
}

.form-group::-webkit-scrollbar:horizontal {
    height: 11px;
}

.form-group::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

h6.score {
    margin: 2px 0 0 0;
}

span.editing {
    background-color: #fff;
    border: 1px solid;
    padding: 2px 4px;
}

.details-panel {
  display: block;
}

.details-panel .input-group-btn {
  width: auto;
}